@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url('Assets/CompanyBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 100%;

}

#loginBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}


.auto-grid {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

form h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.form-control:focus {
    outline: none;
    border-color: #6C757D !important;
}

.form-control:focus+i {
    color: black !important;
}

.form-control:user-valid {
    outline: none;
    border-color: #28a745;
}

.form-control:user-valid+i {
    color: #28a745;
}

.form-control:user-invalid {
    outline: none;
    border-color: #c93030;
}

.form-control:user-invalid+i {
    color: #c93030;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    background-color: #3C76CC;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}


.button:hover {
    background-color: #0056b3;
}

.auto-grid i {
    position: absolute;
    transform: translate(-35px, 35%);
    font-size: 25px;
}

#logo {
    height: 7rem;
    width: auto;
}

.flex-container,
#headerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}